body {
    background-color: #222;
    color: #ddd;
    font-family: Arial, sans-serif;
}

textarea {
    background-color: #333;
    color: #ddd;
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}



label[for="checkbox"] {
    cursor: pointer;
    color: #aaa;
}

label[for="checkbox"]:before {
    display: inline-block;
    font-size: 20px;
    padding-right: 5px;
}

#codonOutput {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#toggleDebug,
#clear {
    background-color: #666;
    color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 5px;
}

#debug {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    overflow-wrap: break-word;
}